<div class="flex justify-center items-center">
    <div class="bg-stone-100">
        <div>
            <p class="text-gray-700 mb-4">{{ message }}</p>
        </div>
        <div class="flex justify-end">
            <button type="button"
                class="bg-green-300 text-green-600 py-2 px-4 rounded mr-2 hover:bg-green-400" (click)="yes()">Yes</button>
            <button type="button"
                class="bg-orange-300 text-orange-600 py-2 px-4 rounded hover:bg-orange-400" (click)="no()">No</button>
        </div>
    </div>
</div>