<a [routerLink]="['terrain', terrain.id, 'nodes']"
  class="transition duration-200 ease-in-out hover:bg-stone-300 border-b-2 flex flex-col p-2 bg-stone-100 rounded-md">

  <div class="p-2 flex justify-center">
    <!-- <app-flower01></app-flower01> -->
    <img src="assets/Anonymous_Romania_Outline.svg" alt="Flower" width="100" height="100" />
  </div>

  <span class="my-2 border-l-2 px-2 border-orange-600">{{terrain.name}}</span>

  <!-- <span class="my-2 px-2 border-l-2 border-yellow-400">Description: {{terrain.description}}</span> -->

<!--   <div class=" flex w-min border-2 border-slate-700 rounded-full bg-purple-200">
    <span class="pr-4">15</span>
  </div> -->
</a>
