
<app-edit-thought></app-edit-thought>
<app-confirmation #confirmDeleteNodeDlg message="Are you sure to delete this node?" strong_confirm_text="delete"></app-confirmation>


<div *ngIf="!loading" class="bg-gray-100">
    <div class="flex flex-col md:flex-row">


      <!-- Right sidebar -->
      <div class="w-full md:w-1/4 bg-purple text-stone-600 py-4 px-8">
        <div class="flex flex-col space-y-4">
          <h2 class="text-2xl font-bold">Tools</h2>
          <!-- Replace the following code with your actual tool controls -->
          <button class="bg-stone-200 text-stone-600 hover:bg-stone-300 hover:text-stone-700 py-2 px-4 rounded text-start" (click)="opentCreatingThought()">New thought</button>
          <button class="bg-stone-200 text-stone-600 hover:bg-stone-300 hover:text-stone-700 py-2 px-4 rounded text-start">Start quest</button>
          <button class="bg-orange-300 text-red-800 hover:bg-orange-500 hover:text-red-50 py-2 px-4 rounded text-start" (click)="openDeletingNode()">Delete</button>
          <button class="bg-stone-200 text-stone-600 hover:bg-stone-300 hover:text-stone-700 py-2 px-4 rounded text-start" [routerLink]="['/terrain', nodeDetail.Node.terrainId, 'nodes']">Back</button>
        </div>
      </div>

      <!-- Left sidebar -->
      <div class="w-full md:w-3/4 bg-stone-200 text-stone-600">
        <!-- Head area with object name -->
        <div class="bg-stone-300 py-4 px-8">
          <h1 class="text-2xl font-bold">{{nodeDetail.Node.name}}</h1>
        </div>

        <!-- Collection of items area -->
        <div class="mt-8 px-8 pb-2">
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            <!-- Replace the following code with your actual collection of items -->
            <app-thought *ngFor="let thought of nodeDetail.Thoughts" [thought]="thought" [routerLink]="['/thought', thought.id]"></app-thought>

<!--             <div class="bg-white shadow-md p-4 rounded-lg">
              <h2 class="text-lg font-semibold mb-2">Item 1</h2>
              <p>Description of Item 1</p>
            </div> -->

            <!-- Add more item cards as needed -->
          </div>
        </div>
      </div>

    </div>
</div>

