<div class="container mx-auto my-4">
  <a class="transition duration-300 ease-in-ou
  place-content-center m-4 hover:shadow-yellow-600
   hover:bg-yellow-400 p-2 shadow-lg shadow-purple-500 border-2
    border-purple-600 bg-purple-300" [routerLink]="['/building', 1]">back</a>
  <h1 class="my-4 text-3xl font-bold underline bg-purple-900 text-purple-200 rounded-md text-center py-8">
    ***{{missId}}***
  </h1>

  <a class="transition duration-300 ease-in-ou
place-content-center m-4 hover:shadow-yellow-600
 hover:bg-yellow-400 hover:border-yellow-700
 p-2 shadow-lg shadow-green-600 border-2
  border-green-700 bg-green-500" [routerLink]="['/go-simpletest', 1]">GO</a>

</div>
