<div *ngIf="isShown" class="border border-stone-900">
    <div class="bg-stone-400/40 fixed top-0 right-0 left-0 bottom-0 backdrop-blur-sm" (click)="isShown = false"></div>
<!--      <div class="firework"></div>
    <div class="firework"></div>
    <div class="firework"></div> -->

    <div class="w-[500px] absolute top-16 left-1/2 -translate-x-1/2 border-2 rounded-md bg-orange-300 border-orange-600 shadow-xl shadow-yellow-600">
        <div class="text-4xl font-bold text-pink-900 text-center pt-4">
            GTEAT!!! Quest is completed!!!
        </div>
        <img src="assets/Animation - 1707126634414.gif" width="500" height="500"/>
<!--         <div #lottieContainer></div> -->
    </div>

</div>