<div class="font-sans bg-gray-100 text-gray-800 m-5">

  <!-- Call to Action -->
  <div class="bg-blue-600 text-white text-center p-8 mt-8">
      <h2 class="text-2xl font-bold">Start Your Language Journey Today!</h2>
      <p class="mt-4">Join our community and start learning now</p>
      <button [routerLink]="['/terrains']"
      class="mt-4 px-4 py-2 bg-blue-700 rounded hover:bg-blue-800">Get Started</button>
  </div>

</div>

  <!-- Footer -->
<footer class="bg-white text-center p-4 shadow mt-8">
    © 2024 FlashLang. All rights reserved.
</footer>