<div class="flex justify-center items-center min-h-screen">

    <div class="bg-stone-200 shadow-lg rounded-lg min-w-[50vw] min-h-[50vh] max-w-[80vw] relative p-4">

        <button *ngIf="thought" [routerLink]="['/node', thought.nodeId, 'detail']"
            class="border border-stone-600 rounded-lg mb-2 p-1">Back</button>

        <p (click)="onInputText()" *ngIf="thought" class="bg-stone-300 p-2 text-2xl rounded-lg grow cursor-pointer">{{
            thought.text }}</p>
        <app-text-input #inputText></app-text-input>


        <p (click)="onInputDescription()" *ngIf="thought && thought.description"
            class="bg-stone-300 p-2 text-xs rounded-lg mt-2 cursor-pointer">{{ thought.description }}</p>
        <app-text-input #inputDescription></app-text-input>

        <div *ngIf="thought" class="bg-stone-300 rounded-lg mt-2">

            <div class="flex justify-between bg-stone-400 rounded-t-lg">
                <div class="m-1">expressions</div>
                <button class="border border-stone-600 bg-stone-400
             text-stone-600 hover:bg-stone-500
              p-1 mt-2 rounded-full hover:text-stone-300 w-8 h-8 m-1"
                    (click)="openEditTheExpression(undefined)">+</button>
            </div>

            <p class="p-1 hover:border border-stone-700 cursor-pointer" *ngFor="let expr of thought.expressions"
                (click)="openEditTheExpression(expr)">{{ expr.text }}</p>
        </div>
    </div>

</div>

<app-edit-thexpression></app-edit-thexpression>