<form [formGroup]="creatingForm" (ngSubmit)="submit()">
    <p class="text-red-600 font-medium mb-2"
      *ngIf="thoughtText.errors?.['required'] && (thoughtText.touched || submitted)">
      The name is required</p>
    <input type="text" class="border w-full py-2 px-4 mb-2" placeholder="thought text" formControlName="thoughtText">
  
    <input type="text" class="border w-full py-2 px-4 mb-2" placeholder="thought description"
      formControlName="thoughtDescription">
  
    <button type="submit" class="rounded-md py-2 px-4 bg-red-600 text-white">
      Create
    </button>
    <button type="button" (click)="refused()" class="rounded-md ml-2 py-2 px-4 bg-blue-600 text-white">
      Cancel
    </button>
  </form>