<!-- <div class="border border-green-500 rounded-md mr-2 w-40 mt-2 cursor-pointer">
    <h3 class="text-sm font-semibold m-2">{{thought.text}}</h3>
    <p *ngIf="thought.description" class="border-t-2 border-green-600 bg-green-100 p-1">{{thought.description}}</p> -->
<!--     <p *ngFor="let exp of thought.expressions" class="px-4">{{exp.text}}</p> -->
<!-- </div> -->

<!-- <div class="max-w-md mx-auto border border-gray-300 bg-white shadow-md rounded-lg overflow-hidden mr-2 mt-2 cursor-pointer">
    <div>
      <h2 class="text-xl m-2">{{thought.text}}</h2>
      <div class="border-t border-gray-300 bg-slate-200">
        <p *ngIf="thought.description" class="text-gray-600 p-1">{{thought.description}}</p>
      </div>
      <p class="p-1">e: {{thought.expressions.length}}</p>
    </div>
</div> -->

<div class="m-4 flex border border-stone-400 rounded-lg shadow-md
            cursor-pointer w-80 h-40"
            [ngClass]="{
              'bg-red-300': flashCardTitle.answersCount == 0,
              'bg-lime-500': flashCardTitle.answersCount > 0
          }">
  <div class="grow p-2">
    <p class="text-lg line-clamp-5">
      {{flashCardTitle.question}}
    </p>
  </div>
  <div
    class="px-2 border border-stone-600 bg-orange-500 text-sm
    font-bold flex items-center justify-center h-8 rounded-lg">
    {{flashCardTitle.requiredHits}}/{{flashCardTitle.hitsInRow}}
  </div>
</div>
